body {
    background-color: darkslategrey;
}

.title {
    font-family: sans-serif, Georgia, Times, serif;
    color: orange;
    text-align: center;
    font-size: 48px;
}
.subtitle {
    font-family: 'Courier New', Courier, monospace;
    color: orange;
}
