body {
    background-color: hsl(25, 100%, 97%);
    padding: 10px;
}

.title {
    font-family:  'Courier New', Courier, monospace;
    text-align: center;
    font-size: 48px;  
    background-color: hsl(25, 100%, 40%);
    color: hsl(25, 100%, 97%);
    margin-bottom: 50px;
    box-sizing: border-box;
    width: 400px;
    height: 65px;
    padding-top: 30px;
    margin: 0 auto;
    margin-bottom: 50px;



}

.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    text-align: center;
}
.recipes li {
    color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.but a {
    color: hsl(25, 100%, 30%);
    font-size: 18px;
    background-color: hsl(25, 100%, 85%);
    text-align: center;  
    text-decoration: solid;
    padding: 1em 2em;
  display: block;
  outline: auto;
  width: 200px;
  margin: 0 auto;
  


}
.but a:hover {
    color: black;
    background-color: peachpuff;
}
